<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{app.name}} - #{{issue.id}} | {{issue.title}}</title>
  <link href="{{app.path}}assets/js/mdd/mdd_styles.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="{{app.path}}assets/css/tinybugs.css" rel="stylesheet" />
</head>
<body>
<div class="container">
  {{#breadcrumbs}}
  <div class="row">
    <div class="span12">
    <ul class="breadcrumb">
    {{#parents}}<li><a href="{{url}}">{{title}}</a> <span class="divider">/</span></li>{{/parents}}
    {{#current}}<li class="active">{{title}}</li>{{/current}}
    </ul>
    </div>
  </div>
  {{/breadcrumbs}}
  {{#issue}}
  <div class="row">
  <div class="span12">
    <table class="table table-hover table-striped">
    <tr>
    <td>
      {{#private}}<span class="label label-important">Private</span>{{/private}}
      <span class="label label-info">{{status}}</span>
      {{#resolution}} <span class="label label-info">{{resolution}}</span>{{/resolution}}
      <span class="label label-success">{{release}}</span>
      <span class="label label-inverse">{{area}}</span>
      <span class="badge label-warning" title="votes">{{votes}}</span>
    </td>
    <td><small>Assigned to</small> <strong><a href="#">{{assignedtousername}}</a>{{^assignedtousername}}No one <input id="takeit" type="button" class="btn btn-mini" data-loading-text="acquiring..." value="take it!" />{{/assignedtousername}}</strong></td>
    <td><small>Updated</small> <strong>{{updatedrelative.date}}</strong> <small>@</small> <strong>{{updatedrelative.time}}</strong></td>
    <td><small>Opened</small> <strong>{{createdrelative.date}}</strong> <small>@</small> <strong>{{createdrelative.time}}</strong> <small>by</small> <strong><a href="#">{{createdbyusername}}</a></strong></td>
    </tr>
    </table>
  </div>
  </div>

  <div class="row">
  <div class="span12">
    <div class="btn-group pull-right">
      <a href="{{app.path}}edit/{{id}}" class="btn btn-mini">Edit issue</a>
      <input id="quickedit" type="button" class="btn btn-mini disabled" disabled value="Quick edit" />
    </div>
    <h3><small>{{type}} {{id}} |</small> {{title}}</h3>
  </div>
  </div>
  <div class="row">
  <div class="span12">
    <p>{{{textrendered}}}</p>
  </div>
  </div>

  <div class="row">
  <div class="span7 alert alert-error hide">
    <button type="button" class="close">&times;</button>
    <strong>Error!</strong> Something went awry while logging in. Please, try again.
  </div>
  <div class="span11 form-actions">
    <button id="addcomment" type="button" class="btn btn-success" data-loading-text="Logging in...">Add a Comment</button>
  </div>
  </div>

  <form id='commentForm' method='post' class="hide">
  <div class="row">
  <div class="span11">
    <hr />
  </div>
  <div id="commentError" class="span10 alert alert-error hide">
    <button type="button" class="close">&times;</button>
    <strong>Error!</strong> Something went awry while submitting your changes. Please, try again.
  </div>
  <div class="span7">
    <div class="mdd_toolbar"></div>
    <textarea id='comment' name='comment' rows='8' class='span7 mdd_editor' placeholder="Leave your comment here." required></textarea>
    <div><br /><p><strong>Preview</strong></p></div>
    <div class="mdd_preview"></div>
  </div>
  <div class="span3 well well-small">
    <div id="contributorDetails" class="hide">
      <select id='type' name='type' class="span3" required>
        {{#types}}
        <option value='{{value}}'{{#selected}} selected{{/selected}}>{{text}}</option>
        {{/types}}
      </select>
      <select id='release' name='release' class="span3" title="Please provide the release where the issue was originally encountered." required>
        <option></option>
        {{#releases}}
        <option value='{{value}}'{{#selected}} selected{{/selected}}>{{text}}</option>
        {{/releases}}
      </select>
      <select id='area' name='area' class="span3" title="Please select the most appropriate area affected by the issue." required>
        <option></option>
        {{#areas}}
        <option value='{{value}}'{{#selected}} selected{{/selected}}>{{text}}</option>
        {{/areas}}
      </select>
      <input id='assignedto' name='assignedto' type='text' class="typeahead span3" placeholder="assign to"
              data-url='{{app.path}}api/user/' autocomplete="off" value="{{assignedtousername}}" />
      <input id='resolution' name='resolution' type='text' class="typeahead span3" placeholder="resolution"
              data-url='{{app.path}}api/issue/resolution' autocomplete="off" value="{{resolution}}" />
    </div>
    <div class="form-actions">
      <button id='submit' type="submit" class="btn btn-block btn-success" data-loading-text="Saving...">Save</button>
      <button id='cancel' type="button" class="btn btn-block">Cancel</button>
    </div>
  </div>
  </div>
  </form>

  <div class="row">
  <div class="span10">
  {{#comments}}
    <table class="table table-hover table-striped">
    <tr>
    <td>
    {{#text}}
    <small>Comment from</small> <strong><a href="#">{{commentbyusername}}</a></strong>
        <strong>{{createdrelative.date}}</strong> <small>@</small> <strong>{{createdrelative.time}}</strong> <!--<small>by</small> <strong><a href="#">{{createdbyusername}}</a></strong>-->
    {{/text}}
    {{^text}}
    <small>Edited by</small> <strong><a href="#">{{commentbyusername}}</a></strong>
        <strong>{{createdrelative.date}}</strong> <small>@</small> <strong>{{createdrelative.time}}</strong> <!--<small>by</small> <strong><a href="#">{{createdbyusername}}</a></strong>-->
    {{/text}}
    <ul class="inline">
    {{#changes}}
    <li><code>{{column}}</code> {{#old}}changed from <code>{{old}}</code>{{/old}}{{^old}}set{{/old}} to {{#new}}<code>{{new}}</code>{{/new}}{{^new}}blank{{/new}}</li>
    {{/changes}}
    </ul>
    </td>
    </tr>
    </table>
    {{{textrendered}}}
  {{/comments}}
  {{^comments}}
    <p>No comments.</p>
  {{/comments}}
  </div>
  </div>
  {{/issue}}

  {{> modal_login.mustache }}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="{{app.path}}assets/js/mdd/markdowndeeplib.min.js"></script>
<script src="{{app.path}}assets/js/tinybugs.js"></script>
<script>
$(document).ready(function () {
  $("textarea.mdd_editor").MarkdownDeep({
    resizebar: false,
    help_location: "{{app.path}}js/mdd/mdd_help.htm",
  });

  $('#takeit').on('click', function (e) {
      var takeitButton = $('#takeit').button('loading');

      $.post('{{app.path}}api/issue/{{id}}', 'assignedto=[me]')
          .done(function(data) {
            location.reload();
          }).fail(function (jqXHR, textStatus, errorThrown) {
            if (errorThrown === 'Bad Gateway') {
              $('#loginModal').modal();
            }
            else {
              alert.slideDown();
            }
          }).always(function () {
            takeitButton.button('reset');
          });
    });

  $('#addcomment').on('click', function (e) {
    var commentButton = $(this).button('loading');
    var form = $('#commentForm');
    var row = $(this).closest('.row');
    var alert = $(row).find('.alert').slideUp('fast');

    $.getJSON('{{app.path}}api/user/0', function (data) {
      row.slideUp();
      form.slideDown();
      if (data.role === 'Contributor' || data.role === 'Admin') {
        $('#contributorDetails').removeClass('hide');
      }
      else {
        $('#contributorDetails').addClass('hide');
      }
    }).fail(function (jqXHR, textStatus, errorThrown) {
      if (errorThrown === 'Bad Gateway') {
        $('#loginModal').modal();
      }
      else {
        alert.slideDown();
      }
    }).always(function () {
      commentButton.button('reset');
    });
  });

  $('#commentForm').submit(function (e) {
    var submit = $(this).find(':submit').button('loading');
    var alert = $(this).find('.alert').slideUp('fast');

    e.preventDefault();
    $.post('{{app.path}}api/issue/{{issue.id}}', $(this).serialize())
        .done(function (data) {
          clearDirty();
          location.reload();
        }).fail(function (jqXHR, textStatus, errorThrown) {
          if (errorThrown === 'Bad Gateway') {
            $('#loginModal').modal();
          }
          else {
            alert.slideDown();
          }
        }).always(function () {
          $(submit).button('reset');
        });
  });

  $('#cancel').on('click', function (e) {
    $('#commentForm').slideUp();
    $('#addcomment').closest('.row').slideDown();
  });

  enableDirtyCheck("There are edits to this page. Do you want to abandon them?");
});
</script>
</body>
</html>
