<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{app.name}} - #{{issue.id}} | {{issue.title}}</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
  <div class="span9">
    <h3><small>{{issue.type}} {{issue.id}} |</small> {{issue.title}}</h3>
    <div class="row">
    <div class="span7">
    {{#issue.private}}<span class="label label-important">Private</span>{{/issue.private}}
    <span class="label label-info">{{issue.status}}</span>
    {{#issue.resolution}} <span class="label label-info">{{issue.resolution}}</span>{{/issue.resolution}}
    <span class="label label-success">{{issue.release}}</span>
    <span class="label label-inverse">{{issue.area}}</span>
    <span class="badge label-warning">{{issue.votes}}</span>
    <div class="btn-group pull-right">
      <a href="{{app.path}}edit/{{issue.id}}" class="btn btn-mini">Edit issue</a>
      <a href="{{app.path}}edit/{{issue.id}}" class="btn btn-mini">Quick edit</a>
    </div>
    </div></div>
    <p>Opened at {{issue.createdat}} by {{issue.createdbyusername}}</p>

    <p>Assigned to</p>
    <p>{{issue.assignedtousername}}</p>
    <p>Last updated at {{issue.updatedat}}</p>

    <p>Details</p>
    <p>{{{issue.textrendered}}}</p>

    {{#issue.comments}}
      <p>Comment from {{commentbyusername}} at {{createdat}}</p>
      <p>{{{textrendered}}}</p>
    {{/issue.comments}}
<!--
    <form id='bugForm' method='post'>
    <fieldset>
    <legend>New Issue</legend>

    <input type="hidden" value="{{bug.id}}" id="id" name="id" />

    <div id="bugerror" class="alert alert-error hide">
      <button type="button" class="close">&times;</button>
      <strong>Error!</strong> Something went awry while submitting your changes. Please, try again.
    </div>

    <div class="form-actions">
      <button id='savebug' type="submit" class="btn btn-primary" data-loading-text="Saving...">Save changes</button>
      <a href="/" class="btn">Cancel</a>
    </div>
    </fieldset>
  </form>
-->
  </div>
  </div>
  <div id="message"></div>
  <div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id='loginForm' method='post'>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="loginHeader">Login</h3>
    </div>
    <div id="loginerror" class="alert alert-error hide">
      <button type="button" class="close">&times;</button>
      <strong>Error!</strong> Invalid username/email or password. Please, try again.
    </div>
    <div class="modal-body">
        <label for='username'>Username</label>
        <input id='username' name='username' type='text' placeholder="username or email" required='required' />
        <label for='password'>Password</label>
        <input id='password' name='password' type='password' required='required' />
    </div>
    <div class="modal-footer">
        <button id='attemptlogin' type="submit" class="btn btn-primary" data-loading-text="Logging in...">Submit</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
    </form>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="{{app.path}}assets/js/tinybugs.js"></script>
<script>
$(document).ready(function () {
    $('#assignto').typeahead({
        source: function (query, process) {
            var url = $(this.$element).attr('data-url');
            return $.get(url, { q: query }, function (data) {
                return process(data);
            });
        },
        //matcher: function (item) {
        //    return this.query == item;
        //}
    });

    $('#bugForm').submit(function (e) {
        var submit = $(this).find(':submit').button('loading');
        var alert = $(this).find('.alert').slideUp('fast');

        e.preventDefault();
        $.post('{{app.path}}api/issue/{{issue.id}}', $(this).serialize())
            .done( function(data) {
                // TODO: send the user off to view their bright shiny new bug based on the "data".
            }).fail(function (jqXHR, textStatus, errorThrown) {
                if (errorThrown === 'Unauthorized') {
                    $('#loginModal').modal();
                }
                else {
                    alert.slideDown();
                }
            }).always(function () {
                $('#savebug').button('reset');
            });
    });
});
</script>
</body>
</html>
