<!DOCTYPE html>
<html>
<head>
  <title>{{app.name}} - {{#issue}}Edit #{{id}}: {{title}}{{/issue}}{{^issue}}New Issue{{/issue}}</title>
  <link href="{{app.path}}assets/js/mdd/mdd_styles.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="{{app.path}}assets/css/tinybugs.css" rel="stylesheet" />
</head>
<body>
<div class="container">
  <form id='bugForm' method='post'>
    <fieldset>
    <legend>{{#issue}}Edit{{/issue}}{{^issue}}New{{/issue}} Issue</legend>
    <div class="row">
    <div class="span12 well well-small">
        <div class="controls-row">
        <div class="span2">
          <div class="row">
            <label for='type' class="span2">Type</label>
            <select id='type' name='type' class="span2" required>
              <option value='Bug'>Bug</option>
              <option value='Feature'>Feature</option>
            </select>
          </div>
        </div>
        <div class="span3">
          <div class="row">
            <label for='release' class="span3">Release</label>
            <select id='release' name='release' class="span3" title="Please provide the release where the issue was originally encountered." required>
              <option></option>
              {{#issue.releases}}
              <option value='{{value}}'{{#selected}} selected{{/selected}}>{{text}}</option>
              {{/issue.releases}}
              {{^issue.releases}}
              {{#app.releases}}
              <option value='{{name}}'>{{name}}</option>
              {{/app.releases}}
              {{/issue.releases}}
            </select>
          </div>
        </div>
        <div class="span3">
          <div class="row">
            <label for='tags' class="span3">Area</label>
            <select id='area' name='area' class="span3" title="Please select the most appropriate area affected by the issue." required>
              <option></option>
              {{#issue.areas}}
              <option value='{{value}}'{{#selected}} selected{{/selected}}>{{text}}</option>
              {{/issue.areas}}
              {{^issue.areas}}
              {{#app.areas}}
              <option value='{{name}}'>{{name}}</option>
              {{/app.areas}}
              {{/issue.areas}}
            </select>
          </div>
        </div>
        <div class="span2">
          <div class="row">
            <label class="span1">&nbsp;</label>
            <label for='private' class="checkbox span2">
              <input id='private' name='private' type='checkbox' {{#issue.private}}checked="checked"{{/issue.private}} /> Private issue
            </label>
          </div>
        </div>
        </div>
    </div>
    </div>

    <div id="formError" class="span10 alert alert-error hide">
      <button type="button" class="close">&times;</button>
      <strong>Error!</strong> Please fix the following:
      <ul></ul>
    </div>

    <div id="bugerror" class="span10 alert alert-error hide">
      <button type="button" class="close">&times;</button>
      <strong>Error!</strong> Something went awry while submitting your changes. Please, try again.
    </div>

    <div class="row">

      <div class="span9">
        <label for='title'>Title</label>
        <input id='title' name='title' type='text' class="span9" maxlength='120' placeholder="required" title="Please provide a short descriptive title for the issue." required value="{{issue.title}}" />

        <div class="mdd_toolbar"></div>
        <textarea id='text' name='text' rows='8' class='span9 mdd_editor' placeholder="required" title="Please provide a detailed explanation of the issue." required>{{{issue.text}}}</textarea>
        <!--<div class="mdd_resizer"></div>-->
        <div><br /><p><strong>Preview</strong></p></div>
        <div class="mdd_preview"></div>
      </div>

      <div class="span3 well well-small">
        <label for='assignedto'>Assign To</label>
        <input id='assignedto' name='assignedto' type='text' class="typeahead span3"
               data-url='{{app.path}}api/user/' autocomplete="off" value="{{issue.assignedtousername}}" />

{{#issue}}
        <label for='resolution'>Resolution</label>
        <input id='resolution' name='resolution' type='text' class="typeahead span3"
               data-url='{{app.path}}api/issue/resolution' autocomplete="off" value="{{resolution}}" />
        <input id="status" name="status" type="hidden" value="{{status}}" />

        <label for='comment'>Comment</label>
        <textarea id='comment' name='comment' rows='4' class='span3'></textarea>
{{/issue}}

        <div class="form-actions">
          <button id='submit' type="submit" class="btn btn-block btn-primary" data-loading-text="Saving...">Save</button>
          <a href="{{app.path}}" class="btn btn-block">Cancel</a>
        </div>
      </div>
    </div>
    </fieldset>
  </form>
  {{> modal_login.mustache }}
</div>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="{{app.path}}assets/js/mdd/markdowndeeplib.min.js"></script>
<script src="{{app.path}}assets/js/tinybugs.js"></script>
<script>
  $(function () {
    $('#assignedto').typeahead({
      source: function (query, process) {
        var url = $(this.$element).attr('data-url');
        return $.get(url, { q: query }, function (data) {
          return process(data);
        });
      },
    });

    $("textarea.mdd_editor").MarkdownDeep({
      resizebar: false,
      help_location: "{{app.path}}js/mdd/mdd_help.htm",
    });

    $('#resolution').keyup(function (e) {
      if ('{{issue.status}}' == 'Open') {
        if (this.value && this.value != '{{issue.resolution}}') {
          $("#submit").text('Resolve');
          $("#status").val('Resolved');
        }
        else {
          $("#submit").text('Save');
          $("#status").val('{{issue.status}}');
        }
      }
      else {
        if (!this.value) {
          $("#submit").text('Reopen');
          $("#status").val('Open');
        }
        else if (this.value != '{{issue.resolution}}') {
          $("#submit").text('Resolve');
          $("#status").val('Resolved');
        }
        else {
          $("#submit").text('Save');
          $("#status").val('{{issue.status}}');
        }
      }
    });

    $('#bugForm').validate({
      validClass: 'success',
      errorContainer: "#formError",
      errorLabelContainer: "#formError ul",
      wrapper: "li",
      invalidHandler: function (event, validator) {
        var errors = validator.numberOfInvalids();
        if (errors) {
          $(this).slideDown();
        }
        else {
          $(this).find('.alert').slideUp('fast');
        }
      },
      submitHandler: function (form) {
        var submit = $(form).find(':submit').button('loading');
        var alert = $('#bugerror').slideUp('fast');

        //e.preventDefault();
        $.post('{{app.path}}api/issue/{{issue.id}}', $(form).serialize())
            .done(function (data) {
              dirty = false;
              window.location.href = data.location;
            }).fail(function (jqXHR, textStatus, errorThrown) {
              if (errorThrown === 'Unauthorized' || errorThrown == 'Bad Gateway') {
                $('#loginModal').modal();
              }
              else {
                alert.slideDown();
              }

              submit.button('reset');
            });
      }
    });

    var dirty = false;

    $(':input').change(function () {
      dirty = true;
    });

    window.onbeforeunload = function (e) {
      if (dirty) {
        var message = "There are edits to this bug report.";
        e = e || window.event;
        if (e) {
          e.returnValue = message; // IE and Firefox
        }

        return message; // Webkit
      }
    };
  });
</script>
</body>
</html>
