<!DOCTYPE html>
<html>
<head>
  <title>{{app.name}} - Login</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="{{app.path}}assets/css/tinybugs.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
  <div class="span4">
  <form id='loginForm' method='post'>
    <div class="alert alert-error hide">
      <button type="button" class="close">&times;</button>
      <strong>Error!</strong> Invalid username/email or password. Please, try again.
    </div>

    <label for='username'>Username</label>
    <input id='username' name='username' type='text' maxlength='50' required />
    <label for='password'>Password</label>
    <input id='password' name='password' type='password' maxlength='50' required />

    <div class="form-actions">
      <input type='submit' name='submit' class="btn btn-primary" data-loading-text="Logging in..." value='Login' />
      <a href="{{app.path}}" class="btn">Cancel</a>
    </div>
  </form>
</div>
<div class="span4">
  <p>Alternatively, if you do not have an account or cannot remember your password:</p>
  <p class="center"><a href="{{app.path}}login/create/" class="btn">Create an account</a></p>
  <p class="center">-- OR --</p>
  <p class="center"><a href="{{app.path}}login/reset/" class="btn">Reset password</a></p>
</div>
</div>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="{{app.path}}assets/js/tinybugs.js"></script>
<script>
$(document).ready(function () {
    $('#loginForm').submit(function (e) {
        var submit = $(this).find(':submit').button('loading');
        var alert = $(this).find('.alert').slideUp('fast');
        var query = qs();

        e.preventDefault();
        $.post('{{app.path}}api/session/', $(this).serialize())
            .done(function () {
                window.location.href = query.returnurl || '{{app.path}}';
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert.slideDown();
            }).always(function () {
                submit.button('reset');
            });
    });
});
</script>
</body>
</html>
