<!DOCTYPE html>
<html>
<head>
  <title>{{app.name}} - Page not found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="{{app.path}}assets/css/tinybugs.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
  <div class="span12">
  <p>{{statuscode}} - {{ReferralUri}}</p>
</div>
</div>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="{{app.path}}assets/js/tinybugs.js"></script>
</body>
</html>
