<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.2.1" targetFramework="net40" />
  <package id="ILRepack.MSBuild.Task" version="1.0.8" />
  <package id="MarkdownDeep.Full" version="1.5" targetFramework="net40" />
  <package id="NLog" version="2.0.1.2" targetFramework="net40" />
  <package id="Nustache" version="1.13.6.20" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.55" targetFramework="net40" />
  <package id="ServiceStack.Logging.NLog" version="1.0.10" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.Sqlite32" version="3.9.55" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.Sqlite64" version="3.9.55" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.55" targetFramework="net40" />
  <package id="System.Data.SQLite.x64" version="1.0.86.0" targetFramework="net40" />
  <package id="System.Data.SQLite.x86" version="1.0.86.0" targetFramework="net40" />
</packages>
