<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler"/>
  </configSections>

  <appSettings>
  </appSettings>

  <connectionStrings>
  </connectionStrings>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="notfound" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File"
                fileName="${basedir}/App_Data/logs/404s/notfound${shortdate}.log"
                layout="${longdate} ${message}" />
      </target>
    </targets>

    <rules>
      <logger name="notfound" minlevel="Debug" writeTo="notfound" />
    </rules>
  </nlog>

  <system.web>
    <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms name=".tinybugs" loginUrl="login/" slidingExpiration="true" />
    </authentication>
  </system.web>

  <location path="new">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

  <location path="edit">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="api">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/notfound/" responseMode="ExecuteURL" />
    </httpErrors>

    <handlers>
      <add name="CommentApi" path="/api/comment" verb="*" type="RobMensching.TinyBugs.Controllers.CommentApiController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="IssuesApi" path="/api/issue" verb="*" type="RobMensching.TinyBugs.Controllers.IssuesApiController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="SessionApi" path="/api/session/" verb="*" type="RobMensching.TinyBugs.Controllers.SessionApiController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="UserApi" path="/api/user" verb="*" type="RobMensching.TinyBugs.Controllers.UserApiController" resourceType="Unspecified" preCondition="integratedMode" />
      <!--<add name="NewBug" path="/new" verb="*" type="RobMensching.TinyBugs.Controllers.NewBugController" resourceType="Unspecified" preCondition="integratedMode" />-->
      <add name="EditBug" path="/edit" verb="*" type="RobMensching.TinyBugs.Controllers.EditBugController" resourceType="Unspecified" preCondition="integratedMode" />
      <!--<add name="LoginController" path="/login/" verb="*" type="RobMensching.TinyBugs.Controllers.LoginController" resourceType="Unspecified" preCondition="integratedMode" />-->
      <add name="NotFoundController" path="/notfound/" verb="*" type="RobMensching.TinyBugs.Controllers.NotFoundController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Root" path="/" verb="*" type="RobMensching.TinyBugs.Controllers.RootController" resourceType="Unspecified" preCondition="integratedMode" />
      <!--<add name="EverythingElse" path="/*" verb="*" type="RobMensching.TinyBugs.Controllers.EverythingHandler" resourceType="Unspecified" preCondition="integratedMode" />-->
    </handlers>
  </system.webServer>
</configuration>
