<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler"/>
  </configSections>

  <appSettings>
  </appSettings>

  <connectionStrings>
  </connectionStrings>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="notfound" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File"
                fileName="${basedir}/App_Data/logs/404s/notfound${shortdate}.log"
                layout="${longdate} ${message}" />
      </target>
    </targets>

    <rules>
      <logger name="notfound" minlevel="Debug" writeTo="notfound" />
    </rules>
  </nlog>

  <system.web>
    <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms name=".bugs" loginUrl="login/" slidingExpiration="true" />
    </authentication>
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Custom">
     <remove statusCode="404" />
     <error statusCode="404" path="/notfound" responseMode="ExecuteURL" />
    </httpErrors>

    <handlers>
      <add name="LoginController" path="/login/" verb="*" type="RobMensching.TinyBugs.Controllers.LoginController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="NotFoundController" path="/notfound" verb="*" type="RobMensching.TinyBugs.Controllers.NotFoundController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="AllPurposeRedirect" path="/redirect/*" verb="*" type="RobMensching.TinyBugs.Controllers.RedirectController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="CommentApi" path="/api/*/comment" verb="*" type="RobMensching.TinyBugs.Controllers.CommentApiController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="IssuesApi" path="/api" verb="*" type="RobMensching.TinyBugs.Controllers.IssuesApiController" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Root" path="/" verb="*" type="RobMensching.TinyBugs.Controllers.RootController" resourceType="Unspecified" preCondition="integratedMode" />
      <!--<add name="EverythingElse" path="/*" verb="*" type="RobMensching.TinyBugs.EverythingHandler" resourceType="Unspecified" preCondition="integratedMode" />-->
      <!--<add name="NotFoundCatchAll" path="/*" verb="*" type="RobMensching.TinyBugs.NotFoundHandler" resourceType="Unspecified" preCondition="integratedMode" />-->
      <!--<add name="EverythingElse" path="/*/comment" verb="POST;PUT;DELETE" type="RobMensching.TinyBugs.Controllers.EverythingController" resourceType="Unspecified" preCondition="integratedMode" />-->
    </handlers>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <mimeMap fileExtension=".feed" mimeType="application/atom+xml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="Remove www from domain name" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{ToLower:{C:2}/{R:1}}" redirectType="Permanent" />
        </rule>
        <rule name="Remove default document" stopProcessing="true">
          <match url="(.*)default.aspx" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}" />
        </rule>
        <rule name="Remove index document" stopProcessing="true">
          <match url="(.*)index.html" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}" />
        </rule>
        <rule name="Convert to lower case" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{REQUEST_URI}}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
